antiorm==1.2.1
app==0.0.1
click==6.7
cycler==0.10.0
Jinja2==2.10
MarkupSafe==1.0
matplotlib==2.1.2
numpy==1.14.0
pandas==0.22.0
passlib==1.7.1
prettytable==0.7.2
psycopg2==2.7.3.2
pybars3==0.9.3
PyMeta3==0.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.8.1
six==1.11.0
sklearn==0.0
virtualenv==15.1.0
